@model IEnumerable<Hungarian.Models.Contact>

@{
    ViewData["Title"] = "Display";
}

<h1>Contact</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CContact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CContact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.CId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.CId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.CId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
